@import "../../variebles.scss";


.header {
  height: 7rem;
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(39, 39, 39, 0);
  z-index: 100;
  transition: transform 0.5s ease;
  &.hidden {
    transform: translateY(-100%); /* Mueve el encabezado hacia arriba */
  }
  .contenedorHeader {
    display: flex;
    padding: 0 15rem;
  }
  .nombreHeader {
    font-weight: bold;
    color: $color-crema;
    font-size: 2.7rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    .izquierda {
      color: $color-secundario;
    }
  }
  .linkHeader {
    color: $color-crema;
    text-decoration: none;
    font-size: 1.3rem;
  }
  .linkHeader:hover {
    color: $color-secundario;
  }
  .pintadoHeader {
    .navbar-nav{
      display: flex;
      justify-content: space-evenly;
    }
  }
}
