$color-blanco: #ffffff;
$color-negro: #272727;
$color-imagen-rojo: #700d14;
$color-crema: #fce4ec;
$color-morado: #330099;
$color-principal: #1a1a32;
$color-secundario: #0a7079;
// $color-secundario: #00622e;
// $color-principal: #2e0062;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
