@import "../../variebles.scss";

.footer {
  background-color: $color-secundario;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  height: 15vh;
  h1{
    color: $color-principal;
    font-weight: bold;
  }
  p{
    color: $color-principal;
  }
  .contactoFooter {
    width: 100%;
    padding: 0 30rem;
    .datosFooter {
      display: flex;
      justify-content: center;
      .linkFooter {
        color: $color-principal;
        font-weight: bold;
        padding: 0 2.3rem;
        display: flex;
        font-size: none;
        text-decoration: none;
      }
    }
  }
}
