@import "./components/variebles.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  
.aplicacion {
  background-color: $color-principal;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $color-principal;
}

::-webkit-scrollbar-thumb {
  background: $color-secundario;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}